<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:fb="fb"
  class="canvasHtml"
>

  <?python

    from urllib import quote_plus

    def quote_js(js):
        return js.replace("'", "\'")

    def quote_jsurl(jsurl):
        return quote_js(quote_plus(jsurl))

  ?>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Micropolis</title>
    <link type="text/css" rel="stylesheet" href="/static/css/micropolisFacebook.css"/> 
    <script type="text/javascript"><![CDATA[
      var app_url =
	  '/lps/micropolis/micropolis/micropolis_${quote_jsurl(user_locale)}.lzx?' +
	  'lzr=${quote_jsurl(lzr_param)}&' +
	  'access_token=${quote_jsurl(access_token)}&' +
	  'user_id=${quote_jsurl(user_id)}&' +
	  'user_name=${quote_jsurl(user_name)}&' +
	  'user_locale=${quote_jsurl(user_locale)}&' +
	  'canvas_name=${quote_jsurl(canvas_name)}&' +
	  'app_id=${quote_jsurl(app_id)}' +
	  'in_tab=${str(in_tab)}' +
	  'fb_page_id=${quote_jsurl(fb_page_id)}' +
	  'facebook=1&' +
	  'debug=${'true' if debugging else 'false'}&' +
	  'debugging=${str(debugging)}&' +
	  '${quote_js(debugging_params_amp)}';
    ]]></script>
  </head>

  <body class="canvasBody">

    <table class="canvasTable">

      <tr>
	<td class="canvasTableTop">

	  <div id="fb-root"></div>

	  <fb:like
	    show-faces="false"
	  />
	  <br class="clearBreak"/>

	  Please
	  <a
	    href="javascript:hello()"
	  >tell your friends</a>,
	  and buy
	  <a
	    href="javascript:orderProduct('micropoleans_1000')"
	  >one thousand</a>
	  or
	  <a
	    href="javascript:orderProduct('micropoleans_1000000')"
	  >one million</a> Simoleans,
	  more
	  <a
	    href="javascript:orderProduct('save_slot')"
	  >save slots</a>,
	  <a
	    href="javascript:orderProduct('protection')"
	  >city protection</a>,
	  <a
	    href="javascript:orderProduct('karma_1000')"
	  >1000</a>,
	  <a
	    href="javascript:orderProduct('karma_2000')"
	  >2000</a>,
	  <a
	    href="javascript:orderProduct('karma_5000')"
	  >5000</a> 
	  or	
	  <a
	    href="javascript:orderProduct('karma_9001')"
	  >9001</a> 
	  Karma, to support this
	  <a
	    href="http://www.MicropolisOnline.com"
	    target="_new"
	  >open source project</a>.
	  <br/>

	  <py:if
	    test="not user_id"
	  >
	    Please
	    <a
	      href="javascript:addApp('${quote_js(facebook_permissions)}')"
	    >add Micropolis</a>
	    to save your city and play with your friends.
	  </py:if>

	</td>
      </tr>

      <tr class="fullHeight">
	<td class="canvasTableBottom">

          <iframe id="lzframe"
	    py:if="debugging"
	    class="canvasDebugIframe"
            frameborder="0"
            marginwidth="0"
            marginheight="0"
	    scrolling="no"
	  />

	  <div id="lzdiv"
            py:if="not debugging"
	  />

	</td>
      </tr>
    </table>

    <script src="/static/javascript/embed-compressed.js" type="text/javascript"> </script>
    <script src="/static/javascript/micropolisFacebook.js" type="text/javascript"> </script>
<!--!
    <script src="/static/javascript/all_pretty.js" type="text/javascript"> </script>
-->
    <script src="http://connect.facebook.net/en_US/all.js" type="text/javascript"> </script>
    <script type="text/javascript">
      micropolisFacebookInit(
        '${quote_js(canvas_name)}',
        '${quote_js(app_key)}',
        '${quote_js(app_id)}',
        '${quote_js(user_id)}');

      <py:if test="debugging"><![CDATA[
      document.getElementById("lzframe").src = app_url;
      ]]></py:if>

      <py:if test="not debugging"><![CDATA[
      //lz.embed.resizeWindow('100%', '100%');
      embedApp(app_url);
      ]]></py:if>

    </script>

  </body>

</html>
