<poll
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    ref="${ref}"
>
    <tileviews
        py:if="tileviews"
    >
        <tileview
	    py:for="tileview in tileviews"
	    id="${tileview['id']}"
	    col="${tileview['col']}"
	    row="${tileview['row']}"
	    cols="${tileview['cols']}"
	    rows="${tileview['rows']}"
	    format="${tileview['format']}"
	>${tileview['tiles']}</tileview>
    </tileviews>
    <messages
        py:if="messages"
    >
        <message
            py:for="message in messages"
	    py:attrs="message"
	>${repr(message)}</message>
    </messages>
</poll>
