<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:fb="fb"
  style="margin: 0; border: 0; padding: 0; font-family: &quot;lucida grande&quot;, tahoma, verdana, arial, sans-serif; font-size: 18px; background-color: #ffffff; height: 100%;"
>

  <?python

    from urllib import quote_plus

    def quote_js(js):
        return js.replace("'", "\'")

    def quote_jsurl(jsurl):
        return quote_js(quote_plus(jsurl))

  ?>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Micropolis</title>
    <script src="/lps/lps/includes/embed-compressed.js" type="text/javascript"></script>
  </head>

  <body
    style="margin: 0; border: 0; padding: 0; height: 100%;"
  >

    <table
      border="0"
      cellspacing="0"
      cellpadding="0"
      style="width: 100%; height: 100%; border: 0;"
    >
      <tr>
	<td width="100%" align="left" valign="top">

	  <div id="fb-root"></div>

	  <fb:like
	    show-faces="false"
	  />
	  <br style="clear:both"/>

	  <py:if
	    test="not user_id"
	  >
	    Please
	    <a
	      href="javascript:"
	      onclick="addApp()"
	    >add Micropolis</a>
	    to save your city and play with your friends.
	  </py:if>

	  <script src="http://connect.facebook.net/en_US/all.js"></script>

	  <script><![CDATA[

            function addApp()
            {
              FB.login(
                function(response) {
                  if (response.session) {
                    if (response.perms) {
                      // User is logged in and granted some permissions.
                      // The response.perms is a comma separated list of granted permissions.
                      //alert("FB.login response: User is logged in, granted permissions: " + response.perms);
                    } else {
                      // User is logged in, but did not grant any permissions.
                      //alert("FB.login response: User is logged in, but without any permissions.");
                    }
                  } else {
                    // User is not logged in.
                    //alert("FB.login response: User is not logged in.");
                  }
                }, {
                  perms: "${facebook_permissions}"
                });
            }

	    function goHome()
            {
	      top.location = 'http://apps.facebook.com/${canvas_name}/';
	    }

	    window.fbAsyncInit = function() {

	      FB.init({
		appId: "${app_id}",
		xfbml: true,
		channelUrl:
		  window.location.protocol + '//' + window.location.host + '/static/html/channel.html'
	      });

	      FB.Event.subscribe('auth.sessionChange', 
		function(response) {

                  if (response.session) {
                    if (response.perms) {
                      // User is logged in and granted some permissions.
                      // The response.perms is a comma separated list of granted permissions.
                      //alert("sessionChange: User is logged in, granted permissions: " + response.perms);
                    } else {
                      // User is logged in, but did not grant any permissions.
                      //alert("sessionChange: User is logged in, but without any permissions.");
                    }
                  } else {
                    // User is not logged in.
                    //alert("sessionChange: User is not logged in.");
                  }

		  if ((("${user_id}" != "") && !response.session) ||
		      ("${user_id}" != ("" + response.session.uid))) {
		    goHome();
		  }
		});

	      //FB.Canvas.setAutoResize();

	      // ensure we're always running on apps.facebook.com
	      if (window == top) {
		goHome();
	      }

	    };

	  ]]></script>

	</td>
      </tr>
      <tr height="100%"
	py:if="True or (user_id and me)"
      >
	<td height="100%" width="100%" align="left" valign="top">

          <iframe id="lzframe"
	    py:if="debugging"
	    width="100%"
	    height="100%"
            style="border: 0;"
            frameborder="0"
            marginwidth="0"
            marginheight="0"
	    scrolling="no"
	  />

	  <script type="text/javascript" defer=""><![CDATA[

            var url =
                '/lps/micropolis/micropolis/micropolis_${quote_jsurl(user_locale)}.lzx?' +
                'lzr=${quote_jsurl(lzr_param)}&' +
                'access_token=${quote_jsurl(access_token)}&' +
                'user_id=${quote_jsurl(user_id)}&' +
                'user_name=${quote_jsurl(user_name)}&' +
                'user_locale=${quote_jsurl(user_locale)}&' +
                'canvas_name=${quote_jsurl(canvas_name)}&' +
                'app_id=${quote_jsurl(app_id)}' +
                'in_tab={$quote_jsurl(in_tab)}' +
                'fb_page_id={$quote_jsurl(fb_page_id)}' +
                'facebook=1&' +
                'debug=${'true' if debugging else 'false'}&' +
                'debugging=${str(debugging)}&' +
                '${quote_js(debugging_params_amp)}';

            ]]><py:if test="debugging"><![CDATA[

	      document.getElementById("lzframe").src = url;

	    ]]></py:if>

            <py:if test="not debugging"><![CDATA[

	      //lz.embed.resizeWindow('100%', '100%');

	      lz.embed.swf({
		url: url,
		allowfullscreen: 'true',
		wmode: 'opaque',
		bgcolor: '#ffffff',
		width: '100%',
		height: '100%',
		id: 'lzapp',
		accessible: 'false',
		cancelmousewheel: false
	      });

	      lz.embed.lzapp.onloadstatus = function loadstatus(p) {
		// called with a percentage (0-100) indicating load progress
	      }

	      lz.embed.lzapp.onload = function loaded() {
		// called when this application is done loading
	      }

	    ]]></py:if>

	  </script>

	</td>
      </tr>
    </table>

  </body>

</html>
