<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

    <?python

        def singleQuotedText(text):
           return (
               "'" +
               text.replace('\\', '\\\\').replace("'", "\\'").replace('"', '\\"') +
               "'")

    ?>

    <head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
	<title>Micropolis Translations</title>
	<script><![CDATA[

            function focusText(el)
            {
                el.style.height = '100px'; 
            }

            function blurText(el, language, id, originalValue)
            {
                el.style.height = '30px';
                var newValue = el.value;
                if (newValue == originalValue) {
                    el.style.backgroundColor = '#ffffff';
                } else {
                    el.style.backgroundColor = '#ff8080';
                    //saveText(language, id, newValue);
                }
            }

            function saveText(language, id, value)
            {
                //alert(language + "\n" + id + "\n" + value);
            }

	  ]]>
	</script>
    </head>

    <body>

	<h1>Micropolis Translations</h1>

	<h3>Languages:

	    <py:for each="languageName in languages">
		<a
		    py:strip="languageName == language"
		    href="/server/getTranslations?language=${languageName}"
		>${languageName}</a>
	    </py:for>
	</h3>

	<h3
	   py:if="language == defaultLanguage"
	>${len(strings)} total strings for default language "${language}":</h3>

	<h3
	   py:if="language != defaultLanguage"
	>${len(strings)} out of ${len(defaultStrings)} strings for language "${language}":</h3>

	<py:if test="language != defaultLanguage">


	    <p>
		<a
		    href="/server/getTranslations?language=${language}&amp;command=update"
		>Update "${language}" strings from "${defaultLanguage}" strings.</a>

		Reads all the ${defaultLanguage} strings, and adds any
		new strings to the ${language} strings, with the
		prefix "@${language}@". Strings with an
		"@${language}@" prefix need to be translated (and the
		"@${language}@" prefix removed). They are highlighted
		in yellow below.

		<?python

		   import urllib
		   textToTranslate = ''
		   for i in range(0, len(strings)):
		       text = strings[i][1]
		       defaultText = defaultStrings[i][1]
		       if text and text[0] == '@':
		           textToTranslate += (
		               str(i + 1) +
		               ':\n' +
		               defaultText + 
		               '\n\n'
		           )
		   url = (
		       'http://translate.google.com/translate_t#' +
		       defaultLanguage[0:2] +
		       '|' +
		       language[0:2] +
		       '|' +
		       urllib.quote_plus(textToTranslate.encode('utf-8'))
		   )
		?>
		<a
		    py:if="textToTranslate"
		    href="${url}"
		    target="translate"
		>Google translate all hilighted marked strings.</a>

	    </p>

	    <p>
	    </p>

	</py:if>

	<p>
	    <a
		href="/lps/micropolis/micropolis/micropolis_${language}.lzx?lzt=swf&amp;lzr=swf10"
		target="micropolis"
	    >Run Micropolis in "${language}".</a>
	</p>

	<form
	    method="POST"
	    action="getTranslations?command=update"
	>

	    <input type="hidden" name="language" value="${language}"/>
	    <input type="submit" value="Submit"/> 
	    your changes. Strings you have changed are highlighted in red below.

	    <ol>
		<li
		    py:for="i in range(0, len(strings))"
		>
		    <?python
			id, text, comment = strings[i]
			idDefault, textDefault, commentDefault = defaultStrings[i]
		        if text and text[0] == '@':
		            style = 'background-color: #ffff00'
		        else:
		            style = ''
		    ?>
		    <b>${id}</b>
		    <br/>
		    <em py:if="comment">
			${comment}
			<br/>
		    </em>
		    <ul>
			<li
			    py:if="language != defaultLanguage"
			>
			    <b>${defaultLanguage}:</b>
			    <br/>
			    ${textDefault}
			    <br/>
			</li>
			<li style="${style}">
			    <b>${language}:</b>
			    <br/>
			    <textarea
				name="string_${i}"
				type="text" 
				style="width: 100%; height: 30px"
				onfocus="focusText(this)"
				onblur="blurText(this, '${language}', ${singleQuotedText(id)}, ${singleQuotedText(text)})"
			    >${text}</textarea>
			</li>
		    </ul>
		</li>
	    </ol>

	</form>

    </body>

</html>
